<div class="wrapper-roles">
  <div class="container">
    <div class="row">
      <section class="roles col col-first col-6">
        <table class="roles">
          <caption>Roles</caption>
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let r of roles; index as i; even as is_even" [class.even]="is_even" class="table-row table-row-{{i}}" (click)="select_role(r)">
              <td>
                <input type="checkbox" class="form-control" id="role-{{r.id}}" name="role[{{r.id}}]"/>
              </td>
              <td>
                <a class="nav" routerLink="./role/{{r.name}}">{{r.name}}</a>
              </td>
              <td>{{r.description}}</td>
            </tr>
          </tbody>
        </table><!-- .roles -->
      </section><!-- .roles -->
      <div class="col-wrapper col col-last col-6">
        <section class="role" *ngIf="selected_role != false">
          <form class="form-role form-inline" #frm_role="ngForm" (ngSubmit)="role_update(frm_role)">
            <fieldset>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{selected_role.name}}" placeholder="Name" required #name="ngModel" [(ngModel)]="selected_role.name" />
              </div><!-- .form-group -->
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" value="{{selected_role.description}}" placeholder="Descripion" [(ngModel)]="selected_role.description" />
              </div><!-- .form-group -->
              <div class="form-group">
                <label for="active">Active</label>
                <input type="checkbox" id="active" name="active" value={{selected_role.active}} #active="ngModel" [(ngModel)]="selected_role.active" />
              </div><!-- .form-group -->
            </fieldset>
          </form>
        </section><!-- .role -->
        <section class="permissions" *ngIf="selected_role != false">
          <form class="form-permissions">
            <fieldset class="add-permissions">
              <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" list="permissions" placeholder="Permission" #permission="ngModel" [(ngModel)]="permission_to_add" (keyup)="search_permission(permission.value)" />
                <datalist id="permissions">
                  <option *ngFor="let p of permissions" value="{{p.name}}">
                </datalist>
                <button type="button" class="button button-secondary" (click)="role_add()" [disabled]="role_to_add == ''">Add</button>
              </div>
            </fieldset>
            <fieldset>
              <table class="table-permissions">
                <caption>Permissions</caption>
                <thead>
                  <tr>
                    <th>Id</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Id</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let p of permissions">
                    <td>{{p.name}}</td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </form><!-- .form-permissions -->
        </section><!-- .permissions -->
      </div>
    </div>
  </div>
</div><!-- .wrapper-roles -->