{% extends "base.html.jinja2" %}

{% block content %}
<div id="root">
    <span>Loading ...</span>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/angular/inline.bundle.js"></script>
<script type="text/javascript" src="/angular/polyfills.bundle.js"></script>
<script type="text/javascript" src="/angular/styles.bundle.js"></script>
<script type="text/javascript" src="/angular/vendor.bundle.js"></script>
<script type="text/javascript" src="/angular/main.bundle.js"></script>
{% endblock scripts %}