<div class="wrapper-form ">
  <form method="POST" #frm_signin="ngForm" (ngSubmit)="signin(frm_signin)">
    <div class="alerts" *ngIf="alerts.length > 0">
      <div *ngFor="let m of alerts" class="alert alert-{{m.type}}">{{m.message}}</div>
    </div>
    <div class="wrapper-fields row">
      <fieldset class="col">
        <div class="form-group">
          <label for="email" class="label label-required sr-only">Email</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required #email="ngModel" [(ngModel)]="form.email" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="pw" class="label label-required sr-only">Password</label>
          <input type="password" id="pw" name="pw" class="form-control" placeholder="Password" required #pw="ngModel" [(ngModel)]="form.pw" />
        </div><!-- .form-group -->
      </fieldset>
      <fieldset class="col">
        <div class="alert" [ngClass]="{'alert-success': form.email != ''}">Email is required</div>
        <div class="alert" [ngClass]="{'alert-success': form.pw != ''}">Password is required</div>
      </fieldset>
    </div><!-- .wrapper-fields -->
    <div class="wrapper-actions row">
      <button type="submit" class="btn btn-primary" [disabled]="form.email == '' && form.pw == ''">Sign In</button>
      <a class="nav nav-signup" routerLink="/user/signup">Sign Up</a>
    </div>
  </form>
</div><!-- .wrapper-form -->