<section id="wrapper-inventory" class="nav-scroller bg-white box-shadow">
  <nav class="nav">
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" title="View" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" title="Items" routerLink='./items'>Items</a>
          <a class="dropdown-item" title="Warehouses" routerLink='./warehouses'>Warehouses</a>
        </div>
      </li>
      <li class="nav-item transactions">
        <a class="nav-link dropdown-toggle" title="Transactions" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transactions</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" title="Receive Inventory" routerLink="./transactions/receive">Receive Inventory</a>
          <a class="dropdown-item" title="Physical Inventory" routerLink="./transactions/physical">Physical Inventory</a>
        </div>
      </li>
    </ul>
    <a class="nav-link" title="New Item" routerLink='./items/new'>New Item</a>
  </nav><!-- .nav -->
</section><!-- .wrapper-inventory -->
<router-outlet></router-outlet>