<section class="wrapper-account container-fluid">
  <form class="form">
    <fieldset>
      <h3>{{form.title}}</h3>
    </fieldset>
    <fieldset class="alerts">
      <div *ngFor="let a of form.alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <fieldset class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2" role="group" aria-label="Group">
        <button type="button" class="btn btn-secondary" (click)="account_new()">New</button>
        <button type="button" class="btn btn-secondary" (click)="account_save()">Save</button>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="type" class="form-label col-md-2">Type</label>
          <select id="type" name="type" title="Account Type" class="form-control custom-select col-md-9" [(ngModel)]="account.type_id">
            <option *ngFor="let t of form.types" value="{{t.id}}">{{t.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="code" class="form-label col-md-2">Code</label>
          <input type="text" id="code" name="code" title="Account Code" class="form-control col-md-9" [(ngModel)]="account.code" />
        </div>
      </div><!-- .form-row -->
      <div class="form-group form-row"> 
        <label for="name" class="form-label col-md-1">Name</label>
        <input type="text" id="name" name="name" title="Name" class="form-control col-md-11" required [(ngModel)]="account.name" />
      </div>
      <div class="form-group form-row">
        <label for="description" class="form-label col-md-1">Description</label>
        <input type="text" id="description" name="description" title="Description" class="form-control col-md-11" [(ngModel)]="account.description" />
      </div>
      <div class="form-group form-row">
        <label for="parent" class="form-label col-md-1">Parent</label>
        <input type="text" id="parent" name="parent" list="accounts" title="Parent Account" class="form-control col-md-11" [(ngModel)]="account.parent_account.name" />
        <datalist id="accounts">
          <option *ngFor="let a of form.accounts" value="{{a.name}}" >
        </datalist>
      </div>
    </fieldset>
    <input type="hidden" id="id" name="id" [(ngModel)]="account.id" />
  </form>
</section><!-- .wrapper-account -->