<section class="wrapper-organizations nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link" title="Units of Measure" routerLink='./uoms'>Units of Measure</a>
    <a class="nav-link" title="New Unit of Measure" routerLink='./uoms/add'>New UOM</a>
  </nav>
</section>
<router-outlet></router-outlet>