<section class="wrapper-warehouses">
  <nav class="nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" title="New Warehouse" routerLink="./new">New Warehouse</a>
      </li>
    </ul>
  </nav>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let w of warehouses;">
        <td>{{w.name}}</td>
        <td>{{w.description}}</td>
      </tr>
    </tbody>
  </table>
</section><!-- .wrapper-warehouses -->