<section class="wrapper-chart">
  <ol class="accounts">
    <li *ngFor="let a of chart.accounts">
      <span><a href="#" class="toggle-expand" (click)="toggle_expand(a)"><i class="material-icons">expand_more</i></a>{{a.name}}</span>
      <div class="account-children" *ngIf="a.children">
        <ol class="accounts">
          <li *ngFor="let b of a.children">
            <span><a href="#" class="toggle-expand" (click)="toggle_expand(b)"><i class="material-icons">expand_more</i></a>{{b.name}}</span>
          </li>
        </ol>
      </div><!-- .account-children -->
    </li>
  </ol>
</section><!-- .wrapper-chart -->