<div class="container">
  <div class="row">
    <form #frm_user="ngForm" (ngSubmit)="submit(frm_user)">
      <fieldset>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="user.email" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="active">
            <input type="checkbox" id="active" name="active" class="form-control" [(ngModel)]="user.active" />
            <span>Active</span>
          </label>
        </div><!-- .form-group -->
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label for="search-role" class="sr-only">Role</label>
          <input type="text" id="search-role" name="search_role" class="form-control" placeholder="Role" list="roles" #sri [(ngModel)]="search_role" />
          <datalist id="roles">
            <option *ngFor="let r of search_results" value="{{r.name}}">
          </datalist>
        </div><!-- .form-group -->
        <button type="button" class="button button-secondary" (click)="role_add(search_role)">Add</button>
      </fieldset>
      <fieldset>
        <table class="tbl-roles">
          <caption>Roles</caption>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let r of user.roles; index as i;">
              <td></td>
              <td>{{r.name}}</td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <input type="hidden" id="id" name="id" [(ngModel)]="user.id" />
      <button type="submit" class="button button-primary" [disabled]="form.submitting || user.email == ''">Submit</button>
    </form>
  </div>
</div>