<section class="wrapper-physical-inventory">
  <form>
    <fieldset class="toolbar">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Group 1">
          <button type="button" class="btn btn-secondary" (click)="add_item()">Add Item</button>
          <button type="button" class="btn btn-secondary" (click)="save()">Save</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Group 2">
          <button type="button" class="btn btn-secondary" (click)="generate()">Generate</button>
          <button type="button" class="btn btn-secondary" (click)="post()">Post</button>
        </div>
      </div>
    </fieldset>
    <fieldset class="alerts">
      <div *ngFor="let a of form.alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <fieldset>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Quantity (actual)</th>
            <th>UOM</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>UOM</th>
            <th>Quantity (actual)</th>
            <th>UOM</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let item of transaction.items; index as i; even as is_even">
            <td><input type="text" id="item-id-{{item.item.id}}" name="item[{{item.item.id}}][id]" class="form-control" required [(ngModel)]="transactions.items[i].id" /></td>
            <td><input type="text" id="item-name-{{item.item.id}}" name="item[{{item.item.id}}][name]" class="form-control" required [(ngModel)]="transactions.items[i].name" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
</section><!-- .wrapper-physical-inventory -->