<section class="wrapper-uoms">
  <form>
    <fieldset class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2" role="group" aria-label="Group 1">
        <button type="button" class="btn btn-secondary" (click)="item_new()">New</button>
        <button type="button" class="btn btn-secondary" (click)="item_save()">Save</button>
      </div>
    </fieldset>
    <fieldset class="uoms">
      <div class="form-group">
        <label for="uom_type_id">UOM Type</label>
        <select id="uom_type_id" name="uom_type_id" class="form-control" required [(ngModel)]="form.uom_type_id" (change)="uom_type_change()">
          <option *ngFor="let t of form.uom_types" value="{{t.id}}">{{t.name}}</option>
        </select>
      </div><!-- .form-group -->
      <table class="table">
        <caption>Units of measure</caption>
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let u of form.uoms; index as i; is_even as even;">
            <td>{{u.name}}</td>
            <td>{{u.symbol}}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
</section>