<section class="wrapper-clients">
  <div class="wrapper-form">
    <div class="alerts">

    </div>
    <form #f="ngForm">
      <fieldset>

      </fieldset>
      <fieldset>
        <legend>Clients</legend>
        <table class="table table-striped table-hover">
            <caption>Clients</caption>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let c of form.clients; index as i; is_even as even;" [class.even]="is_even">
                <td><input type="checkbox" id="active-{{c.id}}" name="active_{{c.id}}" class="client-active" [checked]="c.active" /></td>
                <td><a title="{{c.name}}" routerLink="./client/{{c.name}}">{{c.name}}</a></td>
              </tr>
            </tbody>
          </table>
      </fieldset>
    </form>
  </div><!-- .wrapper-form -->
</section><!-- .wrapper-clients -->