<section id="wrapper-items">
  <form>
    <fieldset class="alerts">
      <div *ngFor="let a of alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2" role="group" aria-label="Group 1">
        <button type="button" class="btn btn-secondary" (click)="items_new()">New</button>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Group 2">
        <button type="button" class="btn btn-secondary" data-toggle="button" aria-pressed="false" (click)="toggle_search()">Search</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th><a href="#" class="toggle" title="SKU/UPC" (click)="items_sort('sku')"><span>SKU/UPC</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'sku' ? 'expand_more' : 'expand_less' }}</i></a></th>
          <th><a href="#" class="toggle" title="Name" (click)="items_sort('name')"><span>Name</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'name' ? 'expand_more' : 'expand_less' }}</i></a></th>
          <th><a href="#" class="toggle" title="Description" (click)="items_sort('description')"><span>Description</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'description' ? 'expand_more' : 'expand_less' }}</i></a></th>
        </tr>
        <tr class="row-filters">
          <th colspan="4" class="header-filters">
            <div class="form-row">
              <div class="input-group col-md-9">
                <input type="search" id="search" name="search" class="form-control" placeholder="Search" [(ngModel)]="search.filter" />
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="items_search()"><i class="material-icons">search</i></button>
                </div>
              </div><!-- .input-group -->
              <div class="wrapper-pager col-md-3 d-inline-flex justify-content-end">
                <div class="items d-inline-flex">
                  <span class="d-inline-flex">show</span>
                  <nav class="d-inline-flex">
                    <ul class="nav">
                      <li class="nav-item dropdown">
                        <a class="num-items nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{search.pager.items_per_page}}</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#" (click)="set_items_per_page(10)">10</a>
                          <a class="dropdown-item" href="#" (click)="set_items_per_page(20)">20</a>
                          <a class="dropdown-item" href="#" (click)="set_items_per_page(30)">30</a>
                        </div>
                      </li>
                    </ul>
                  </nav>
                  <span class="d-inline-flex">items</span>
                </div>
                <nav aria-label="pager" class="d-inline-flex">
                  <ul class="pagination">
                    <li class="page-item">
                      <a href="#" class="page-link" (click)="page_first()"><i class="material-icons">first_page</i></a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link" (click)="page_previous()"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="page-item active">
                      <span class="page-link">
                        {{search.pager.current_page}}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link" (click)="page_next()"><i class="material-icons">chevron_right</i></a>
                    </li>
                    <li class="page-item">
                      <a href="#" class="page-link" (click)="page_last()"><i class="material-icons">last_page</i></a>
                    </li>
                  </ul>
                </nav>
              </div><!-- .wrapper-pager -->
            </div>
          </th>
        </tr><!-- .row-filters -->
      </thead>
      <tfoot>
        <tr>
          <th></th>
          <th><a href="#" class="toggle" title="SKU/UPC" (click)="items_sort('sku')"><span>SKU/UPC</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'sku' ? 'expand_more' : 'expand_less' }}</i></a></th>
          <th><a href="#" class="toggle" title="Name" (click)="items_sort('name')"><span>Name</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'name' ? 'expand_more' : 'expand_less' }}</i></a></th>
          <th><a href="#" class="toggle" title="Description" (click)="items_sort('description')"><span>Description</span><i class="material-icons">{{ search.sort.ascending && search.sort.column == 'description' ? 'expand_more' : 'expand_less' }}</i></a></th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let itm of items; index as i; even as is_even;" [class.even]="is_even">
          <td></td>
          <td>{{itm.sku}}/{{itm.upc_ean}}</td>
          <td><a class="nav-link" title="{{itm.name}}" routerLink="./item/{{itm.id}}">{{itm.name}}</a></td>
          <td>{{itm.description}}</td>
        </tr>
      </tbody>
    </table>
  </form>
</section><!-- .wrapper-items -->