#wrapper-items table td,
#wrapper-items table th {
    padding: 0.2rem 0.75rem;
}

#wrapper-items table th .input-group {
    padding: 0.5rem 0rem;
}

#wrapper-items .wrapper-pager .items {
    padding: 0.5rem 1rem;
}

#wrapper-items .wrapper-pager .num-items {
    padding: 0 1rem;
}