<div class="wrapper-form col-6">
  <form method="POST" #frm_signup="ngForm" (ngSubmit)="signup(frm_signup)">
    <div class="alerts" *ngIf="alerts.length > 0">
      <div *ngFor="let m of alerts" class="alert {{m.type}}">{{m.msg}}</div>
    </div>
    <div class="wrapper-fields row">
      <fieldset class="col">
        <div class="form-group">
          <label for="email" class="label label-required sr-only">Email</label>
          <input type="text" id="email" name="email" class="form-control" placeholder="Email" required #email="ngModel" [(ngModel)]="form.email" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="pw" class="label label-required sr-only">Password</label>
          <input type="password" id="pw" name="pw" class="form-control" placeholder="Password" required #pw="ngModel" [(ngModel)]="form.pw" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="pw-confirm" class="label label-required sr-only">Confirm Password</label>
          <input type="password" id="pw-confirm" name="pw_confirm" class="form-control" placeholder="Confirm Password" required #pw_confirm="ngModel" [(ngModel)]="form.pw_confirm" />
        </div><!-- .form-group -->
      </fieldset>
      <fieldset class="col">
        <div class="alert"><i class="material-icons icons" [ngClass]="{'icons-success': form.email != ''}">check_circle</i> Email is required</div>
        <div class="alert"><i class="material-icons icons" [ngClass]="{'icons-success': form.pw != ''}">check_circle</i> Password is required</div>
        <div class="alert"><i class="material-icons icons" [ngClass]="{'icons-success': form.pw_confirm == form.pw }">check_circle</i>Both password fields should match </div>
      </fieldset>
    </div><!-- .wrapper-fields -->
    <div class="wrapper-actions row">
      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a class="nav-signin" routerLink="/user/signin">Sign In</a>
    </div><!-- .wrapper-actions -->
  </form>
</div><!-- .wrapper-form" -->