<section class="wrapper-app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">ERP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li><!-- .nav-item -->
                <li class="nav-item dropdown active">
                    <a id="dropdown-apps" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-apps">
                        <a class="dropdown-item" title="Accounting" routerLink="/accounting">Accounting</a>
                        <a class="dropdown-item" title="Payables" href="#">Payables</a>
                        <a class="dropdown-item" title="Receivables" href="#">Receivables</a>
                        <a class="dropdown-item" title="Orders" href="#">Orders</a>
                        <a class="dropdown-item" title="Inventory" routerLink="/inventory">Inventory</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" title="Organizations" routerLink="/organizations">Organizations</a>
                        <a class="dropdown-item" title="Admin" routerLink="/admin">Admin</a>
                    </div><!-- .dropdown-menu -->
                </li><!-- .dropdown -->
                <li class="nav-item dropdown active">
                    <a id="dropdown-user" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a> 
                    <div class="dropdown-menu" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" title="Sign In" routerLink="/user/signin">Sign In</a>
                        <a class="dropdown-item" title="Sign Out" routerLink="/user/signout">Sign Out</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" title="Preferences" href="#">Preferences</a>
                    </div><!-- .dropdown-menu -->
                </li><!-- .dropdown -->
            </ul>
            <div id="search">
                <span>Loading ...</span>
            </div>
        </div><!-- #navbar-collapse -->
    </nav><!-- .navbar -->
</section><!-- .wrapper-app -->
<div class="wrapper-content">
    <router-outlet></router-outlet>
    <router-outlet name="left"></router-outlet>
    <router-outlet name="right"></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>
