<div class="wrapper-users">
  <div class="container">
    <div class="row">
      <section class="users col col-first col-6">
        <table class="table-users">
          <caption>Users</caption>
          <thead>
            <tr>
              <th>Email</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Email</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let u of users" (click)="select_user(u)">
              <td>
                <a class="nav-user" routerLink="./user/{{u.email}}">{{u.email}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="col col-last col-6">
        <section class="user" *ngIf="selected_user != false">
          <form class="form-user form-inline" #frm_user="ngForm" (ngSubmit)="user_update(frm_user)">
            <fieldset>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" value="{{selected_user.email}}" required #email="ngModel" [(ngModel)]="selected_user.email" />
              </div><!-- .form-group -->
              <div class="form-group">
                <input type="checkbox" id="active" name="active" value="{{selected_user.active}}" #active="ngModel" [(ngModel)]="selected_user.active" />
                <label for="active">Active</label>
              </div><!-- .form-group -->
            </fieldset>
          </form><!-- .form-user -->
        </section><!-- .user -->
        <section class="roles" *ngIf="selected_user != false">
          <form class="form-roles" #frm_perms="ngForm" (ngSubmit)="role_update(frm_perms)">
            <fieldset class="add-role">
              <div class="form-group">
                <label for="role" class="sr-only">Name</label>
                <input type="text" id="role" name="role" class="form-control" list="roles" #role placeholder="Role" [(ngModel)]="role_to_add" (keyup)="search_role(role.value)" />
                <datalist id="roles">
                  <option *ngFor="let r of roles" value="{{r.name}}">
                </datalist><!-- #roles -->
                <button type="button" class="button button-secondary" (click)="role_add()" [disabled]="role_to_add == ''">Add</button>
              </div>
            </fieldset>
            <fieldset>
              <table class="table-roles">
                <caption>Roles</caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th>Name</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let r of roles">
                    <td>
                      <input type="checkbox" />
                    </td>
                    <td>
                      {{role.name}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </form><!-- .form-roles -->
        </section>
      </div>
    </div>
  </div>
</div><!-- .wrapper-users -->