<section class="inv-item-wrapper container-fluid">
  <form class="">
    <fieldset class="alerts">
      <div *ngFor="let a of form.alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <fieldset class="actions btn-toolbar" role="toolbar" aria-label="Actions">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="item_new()" [disabled]="form.submitting">New</button>
        <button type="button" class="btn btn-secondary" (click)="item_save()" [disabled]="form.submitting">Save</button>
      </div>
    </fieldset>
    <fieldset>
      <ul class="nav nav-tabs" id="tabs" data-toggle="tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="nav-tab-general" data-toggle="tab" href="#tab-general" role="tab" aria-controls="tab-general" aria-selected="true">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-tab-components" data-toggle="tab" href="#tab-components" role="tab" aria-controls="tab-components">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-tab-substitutes" data-toggle="tab" href="#tab-substitutes" role="tab" aria-controls="tab-substitutes" aria-selected="false">Substitutes</a>
        </li>
      </ul><!-- #tabs -->
      <div class="tab-content" id="tab-content">
        <div class="tab-pane show active" id="tab-general" role="tabpanel" aria-labelledby="nav-tab-general">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="item.name" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" [(ngModel)]="item.description" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand" class="form-control" [(ngModel)]="item.brand" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" id="model" name="model" class="form-control" [(ngModel)]="item.model" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="sku">SKU</label>
            <input type="text" id="sku" name="sku" class="form-control" [(ngModel)]="item.sku" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="upe_ean">UPC EAN</label>
            <input type="text" id="upc_ean" name="upc_ean" class="form-control" [(ngModel)]="item.upc_ean" />
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="uom_type_id">UOM Type</label>
            <select id="uom_type_id" name="uom_type_id" class="form-control" required [(ngModel)]="form.uom_type_id" (change)="uom_type_change()">
              <option *ngFor="let t of form.uom_types" value="{{t.id}}">{{t.name}}</option>
            </select>
          </div><!-- .form-group -->
          <div class="form-group">
            <label for="uom_id">UOM</label>
            <select id="uom_id" name="uom_id" class="form_control" required [(ngModel)]="item.uom_id">
              <option *ngFor="let u of form.uoms" value="{{u.id}}">{{u.name}} - ({{u.symbol}})</option>
            </select>
          </div><!-- .form-group -->
          <div class="form-group form-check">
            <input type="checkbox" id="perishable" name="perishable" class="form-control" [(ngModel)]="item.perishable" />
            <label for="perishable" class="form-check-label">Perishable</label>
          </div><!-- .form-group -->
        </div><!-- #tab-general -->
        <div class="tab-pane" id="tab-components" role="tabpanel" aria-labelledby="nav-tab-components">
          <table class="table">
            <caption>Components</caption>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div><!-- #tab-components -->
        <div class="tab-pane" id="tab-substitutes" role="tabpanel" aria-labelledby="nav-tab-substitutes">
          <table class="table">
            <caption>Substitutes</caption>
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Name</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let itm of form.substitutes; index as i; is_even as even;">
                <td></td>
                <td>{{itm.name}}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- #tab-substitutes -->
      </div><!-- #tab-content -->
    </fieldset>
  </form>
</section><!-- .inv-item-wrapper -->