<div class="container">
  <div class="row">
    <form #frm_perm="ngForm" (ngSubmit)="submit(frm_perm)">
      <fieldset>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" required [(ngModel)]="permission.key" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" placeholder="Description" required [(ngModel)]="permission.description" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="active">
            <input type="checkbox" id="active" name="active" class="form-control" [(ngModel)]="permission.active" />
            <span>Active</span>
          </label>
        </div><!-- .form-group -->
      </fieldset>
      <input type="hidden" id="id" name="id" value="{{permission.id}}" [(ngModel)]="permission.id" />
      <button type="submit" class="button button-primary" [disabled]="form.submitting || permission.key == ''">Submit</button>
    </form>
  </div>
</div>