<section class="wrapper-uom">
  <form>
    <fieldset class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2" role="group" aria-label="Group 1">
        <button type="button" class="btn btn-secondary" (click)="uom_save()" [disabled]="form.submitting">Save</button>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="uom_types">Type</label>
        <select id="uom_types" name="uom_types" required [(ngModel)]="form.uom_type">
          <option *ngFor="let uom of form.uom_types" value="{{uom.id}}">{{uom.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" required [(ngModel)]="form.name" />
      </div><!-- .form-group -->
      <div class="form-group">
        <label for="symbol">Symbol</label>
        <input id="symbol" name="symbol" class="form-control" required [(ngModel)]="form.symbol" />
      </div><!-- .form-group -->
    </fieldset>
    <input type="hidden" id="id" name="id" value="{{form.id}}" [(ngModel)]="form.id" />
  </form>
</section><!-- .wrapper-uom -->