<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link" routerLink="./">Admin</a>
    <a class="nav-link" routerLink="./users">Users</a>
    <a class="nav-link" routerLink="./users/new">New user</a>
    <a class="nav-link" routerLink="./roles">Roles</a>
    <a class="nav-link" routerLink="./roles/new">New role</a>
    <a class="nav-link" routerLink="./permissions">Permissions</a>
    <a class="nav-link" routerLink="./permissions/new">New permission</a>
    <a class="nav-link" routerLink="./clients">Clients</a>
    <a class="nav-link" routerLink="./clients/new">New Client</a>
  </nav>
</div><!-- .nav-scroller -->
<router-outlet></router-outlet>