<div class="wrapper-client">
  <form #frm_client (ngSubmit)="submit()">
    <fieldset class="messages">
      <div *ngFor="let m of form.alerts" class="alert alert-{{m.type}}">{{m.message}}</div>
    </fieldset>
    <fieldset class="actions btn-toolbar" role="toolbar" aria-label="Actions">
        <div class="btn-group" role="group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" required placeholder="Name" [(ngModel)]="form.name" />
      </div><!-- .form-group -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" placeholder="Description" [(ngModel)]="form.description" />
      </div>
      <div class="form-group">
        <label for="active">
          <input type="checkbox" id="active" name="active" class="form-control" [(ngModel)]="form.active" />
          Active
        </label>
      </div>
    </fieldset>
    <input type="hidden" id="id" name="id" [(ngModel)]="form.id" />
  </form>
</div>