<section class="wrapper-accounting" class="nav-scroller bg-white box-shadow">
  <nav>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" title="View" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" title="Dashboard" routerLink="./">Dashboard</a>
          <a class="dropdown-item" title="Chart of Accounts" routerLink="./chart">Chart of Accounts</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" title="New" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" title="Account" routerLink="./account/new">Account</a>
          <a class="dropdown-item" title="Invoice" routerLink="./invoice/new">Invoice</a>
        </div>
      </li>
    </ul>
  </nav>
</section><!-- .wrapper-accounting -->
<router-outlet></router-outlet>