<section class="wrapper-receive">
  <form>
    <button type="button" (click)="receive_item_add()">Add Item</button>
    <button type="button" (click)="receive_save()">Save</button>
    <fieldset class="alerts">
      <div *ngFor="let a of form.alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="po_id">Purchase Order</label>
        <input type="text" id="po_id" name="po_id" class="form-control" required [(ngModel)]="transaction.po_id" />
      </div>
    </fieldset>
    <fieldset>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let itm of transaction.items; index as i; even as is_even" [class.even]="is_even">
            <td><input type="text" id="item-{{i}}-id" name="item[{{i}}][id]" class="item" [(ngModel)]="transaction.items[i].id" /></td>
            <td><input type="text" id="item-{{i}}-name" name="item[{{i}}][name]" class="item" [(ngModel)]="transaction.items[i].name" /></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
    <input type="hidden" [(ngModel)]="transaction.id" />
  </form>
</section><!-- .wrapper-receive -->