<div class="wrapper-search">
  <form class="form-search form-inline mt-2 mt-md-0" #frm_search="ngForm" (ngSubmit)="search(frm_search)">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form><!-- .form-search -->
</div><!-- .wrapper-search -->