<div class="wrapper-permissions">
  <div class="container">
    <div class="row">
      <section class="wrapper-table">
        <table class="permissions">
          <caption>Permissions</caption>
          <thead>
            <tr>
              <th></th>
              <th>Key</th>
              <th>Description</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>Key</th>
              <th>Description</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let p of permissions; index as i; even as is_even" [class.even]="is_even" class="table-row table-row-{{i}}">
              <td>
                <input type="checkbox" id="permission-{{p.id}}" name="permission[{{p.id}}]" class="form-control" />
              </td>
              <td>
                <a class="nav-permission" routerLink="./permission/{{p.key}}">{{p.key}}</a>
              </td>
              <td>{{p.description}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div><!-- .wrapper-permissions -->