<div class="container">
  <div class="row">
    <form #frm_role="ngForm" (ngSubmit)="submit()">
      <fieldset>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Name" required #name="ngModel" [(ngModel)]="role.name" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" id="description" name="description" placeholder="Description" required #description="ngModel" [(ngModel)]="role.description" />
        </div><!-- .form-group -->
        <div class="form-group">
          <label for="active">
            <input type="checkbox" id="active" name="active" class="form-control" [(ngModel)]="role.active" />
            <span>Active</span>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label for="search-permission" class="sr-only">Permission</label>
          <input type="text" id="search-permission" name="search_permission" class="form-control" list="permissions" #spi placeholder="Permission" [(ngModel)]="search_permission" />
          <datalist id="permissions">
            <option *ngFor="let p of search_results" value="{{p.name}}">
          </datalist>
        </div><!-- .form-group -->
        <button type="button" class="button button-secondary" [disabled]="form.submitting || search_permission == ''" (click)="permission_add(search_permission)">Add</button>
        <button type="button" class="button button-secondary" (click)="permission_remove()">Remove</button>
      </fieldset>
      <fieldset>
        <table class="tbl-permissions">
          <caption>Permissions</caption>
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>Name</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let p of role.permissions; index as i">
              <td>
                <input type="checkbox" id="permission-{{p.id}}" name="permission[{{p.id}}]" class="form-control" value="{{p.active}}"/>
              </td>
              <td>
                <a class="nav-permission" routerLink="../permission/{{p.name}}">{{p.name}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <input type="hidden" id="id" name="id" [(ngModel)]="role.id" />
      <button type="submit" class="button button-primary" [disabled]="form.submitting || role.name == ''">Submit</button>
    </form>
  </div>
</div>