<section class="wrapper-warehouse">
  <form>
    <fieldset class="alerts">
      <div *ngFor="let a of form.alerts" class="alert alert-{{a.type}}">{{a.message}}</div>
    </fieldset>
    <fieldset class="toolbar">
      <div class="toolbar" role="toolbar" aria-label="Toolbar">
        <div class="btn-group" role="group" aria-label="Group">
          <button type="button" class="btn btn-secondary" (click)="save()">Save</button>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="warehouse.name" />
      </div><!-- .form-group -->
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" [(ngModel)]="warehouse.description" />
      </div><!-- .form-group -->
    </fieldset>
    <input type="hidden" id="id" name="id" [(ngModel)]="warehouse.id" />
  </form>
</section><!-- .wrapper-warehouse -->